<section>

  @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>}

  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First Name</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="user.firstName">
        <!-- <mat-hint>Please enter your First Name</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="user.lastName">
        <!-- <mat-hint>Please enter your Last Name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input [disabled]="isLoading" matInput [matDatepicker]="picker" [(ngModel)]="birthDate">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street & House No.</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="user.street">
        <!-- <mat-hint>Please enter your Last Name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="user.zipCode">
        <!-- <mat-hint>Please enter your Last Name</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="user.city">
        <!-- <mat-hint>Please enter your Last Name</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="user.email">
        <!-- <mat-hint>Please enter your Last Name</mat-hint> -->
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button [disabled]="isLoading" mat-button>Cancel</button>
    <button [disabled]="isLoading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
  </div>

</section>