.add-task-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card {
    padding-right: 0;
    padding-left: 0;
}

.task-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba(63, 81, 181, 0.08);
        }

        th {
            background-color: #C2185B;
            color: white;
            font-size: 18px;
            font-weight: 500;
            text-align: start;

            &:first-child {
                padding-left: 16px;
            }
        }

        td {
            color: white;
            font-size: 14px;
            font-weight: 500;
            text-align: start;

            &:first-child {
                padding-left: 16px;
            }
        }
    }

.delete-btn{
    z-index: 1;
}

    .delete-btn:hover {
        color: #C2185B;
    }
}