<section>

    <mat-card class="customer-detail-header">

        <div class="img-container">
            <button mat-icon-button (click)="editCustomerDialog()" class="customer-detail-edit" matTooltip="Edit Customer"
            [matTooltipPosition]="'below'" >
                <mat-icon fontIcon="edit"></mat-icon>
            </button>

            <img class="customer-img" src="./assets/img/profil.png" alt="">
            <div class="customer-first-info-container">
                <div class="name-container">
                    <span>
                        <h1>{{ customer.firstName }} {{ customer.lastName }}</h1>
                    </span>
                </div>
                <div class="email-container">
                    <span>{{ customer.email }}</span>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="mt-32">
        <mat-card-content style="display: flex; justify-content: space-between; align-items: flex-start;">
            <div>
                <mat-card-header>
                    <mat-card-title>
                        <h1>Address</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ customer.street }} {{customer.houseNo}}
                    <br>
                    {{ customer.zipCode }} {{customer.city }}
                </mat-card-content>
            </div>
            <div>
                <mat-card-header>
                    <mat-card-title>
                        <h1>Company</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ customer.company }} 
                </mat-card-content>
            </div>
            <div>
                <mat-card-header>
                    <mat-card-title>
                        <h1>Phone</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ customer.phoneNo }} 
                </mat-card-content>
            </div>
        </mat-card-content>
    </mat-card>
    

</section>