.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    padding-right: 8px;
}

.sidenav {
    width: 300px;

}

.logo-contianer {
    border-bottom: 1px solid rgba(63, 81, 181, 0.08);
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
}


.logo {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.ul-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgba(63, 81, 181, 0.08);
        }

        &:focus {
            outline: none;
        }

        mat-icon {
            margin-right: 12px;
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}