<section>

  @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>}

  <div class="dialog-header">
    <h1 mat-dialog-title>Add Customer</h1>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="width-48" appearance="outline">
        <mat-label>First Name</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.firstName">
      </mat-form-field>
      <mat-form-field class="ml-16" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.lastName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Phone</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.phoneNo">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Company</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.company">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width-48" appearance="outline">
        <mat-label>Street</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.street">
      </mat-form-field>
      <mat-form-field class="ml-16" appearance="outline">
        <mat-label>House No.</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.houseNo">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="width-48" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.zipCode">
      </mat-form-field>
      <mat-form-field class="ml-16" appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.city">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="isLoading" matInput [(ngModel)]="customer.email">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="isLoading" mat-button (click)="closeDialog()">Cancel</button>
    <button [disabled]="isLoading" mat-button (click)="saveCustomer()" cdkFocusInitial>Save</button>
  </div>

</section>