/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ml-16 {
  width: 48%;
  margin-left: 20px;
}

.width-48 {
  width: 48%;
}

.mt-32 {
  margin-top: 32px;
}

.mt-52 {
  margin-top: 52px;
}

.full-width {
  width: 100%;
}