<section>

  <mat-card class="headline">
    Customers
</mat-card>
    <mat-card class="mt-52">
    <table class="customer-table">
      <tr>
        <th>Company
          <button mat-button (click)="sortByName()">
          <mat-icon>filter_list</mat-icon>
        </button>
        </th>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Phone</th>
        <th></th>
      </tr>
      <tr *ngFor="let customer of allCustomers" (click)="navigateToCustomer(customer.id)">
        <td>{{ customer.company }}</td>
        <td>{{ customer.firstName }} {{ customer.lastName }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phoneNo }}</td>       
        <td>
          <button class="delete-btn" mat-button (click)="openDeleteDialog(customer.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </mat-card>
  
  
  
    <button (click)="openDialog()" class="add-customer-btn" mat-fab color="primary" matTooltip="Add new Customer"
      [matTooltipPosition]="'above'">
      <mat-icon>plus_one</mat-icon>
    </button>
  
  </section>